.pricing-rates li {
    line-height: 1.2 !important;
    font-weight: 500 !important;
    padding-left: 27px;
    text-indent: -14px;
    margin-bottom: 10px !important;
}

div.pricing-rates {
 box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 4px 0 rgb(0 0 0 / 19%);   
}

div.pricing-rates .text-muted {
    color: #363c44 !important;
}

@media screen and (max-width: 450px) {
    span.logospantext {
        font-size: 3.6vw !important;
    }
}

.pricing-rates h3, .h3 {
    font-size: 34px !important;
    font-family: 'Ubuntu', 'Nunito', sans-serif;
}

.pricing-rates h4, .h4 {
    font-size: 27px !important;
    font-family: 'Ubuntu', 'Nunito', sans-serif;
    color: #7ccd87 !important;
}

.paidsheet a {
    font-weight: bold;
}

@media (min-width: 1200px) {
    .pricing-rates h3, .h3 {
        font-size: 1.75rem;
    }
}

@media (min-width: 992px) {
    #download .col-lg-4 {
        width: 38% !important; 
    }
}
